.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 400;
    color: white;
}

body{
    margin: 0px;
    background-color: #000000;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: white;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    background-color: #ced1d3;
    margin-left: 10px;
   /* margin-top: 20px; */
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 350;
    color: #000000;
    
}

.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: #ffffff;
    margin-left: 50px;
    margin-top: 40px;
    margin-left: 100px;
    padding: 10px;
    width: 310px;
    font-family: sans-serif;
}